$mainBlue: #000099;
$darkBlue: #000066;
$blackBlue: #000033;
$lightBlue: #0087f5;
$buttonBlue: #046ee6;
$typeBlue: #0159ce;
$iconBlue: #0033cc;
$grey: #dddddd;
$darkGrey: #3f3d3a;
$midGrey: #eae9e8;
$offWhite: #f4f4f4;
$white: #fff;
$gold: #caa977;
$beige: #a7a399;

.gold {
    color: $gold;
}

.blue {
  color: $darkBlue;
}