h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1;
  color: $white;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  color: $white;
}

h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  color: $white;
}

.gold {
    color: $gold;
}

.blue {
  color: $darkBlue;
}