@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin wrapperWidth {
    display: block;
    width: 95%;
    max-width: 1104px;
    margin: 0 auto;
}

@mixin blockSelection {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}