@import './shared/colors';
@import './shared/mixins';
@import './shared/fonts';

@import './specific/header';
@import './specific/navBar';
@import './specific/navMap';
@import './specific/carousel';
@import './specific/cards';
@import './specific/supplier';
@import './specific/featured';
@import './specific/socialMedia';
@import './specific/instagram';
@import './specific/twitter';
@import './specific/youtube';
@import './specific/siteMap';
@import './specific/links';
@import './specific/footer';
@import './specific/accordion';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}