@import './shared/colors';
@import './shared/mixins';
@import './shared/fonts';

@import './specific/header';
@import './specific/navbar';
@import './specific/navmap';
@import './specific/carousel';
@import './specific/cards';
@import './specific/supplier';
@import './specific/featured';
@import './specific/mediaNavBar';
@import './specific/instagram';
@import './specific/twitter';
@import './specific/youtube';
@import './specific/siteMap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}