#accordionWrapper {
    width: 100%;
    height: calc(100vh - 82px);
    background: $white;
    position: absolute;
    transition: all 0.3s ease-in-out;

    @media screen and (min-width: 1087px) {
        display: none;
      }
}

.accordionContainer {
    color: $darkBlue;
    font-size: .875rem;
    line-height: .875rem;
    cursor: pointer;

    .itemBox {
        border-bottom: 2px solid $darkBlue;
    }

    .titleBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.625rem 0 0.625rem 1rem;
        border-bottom: 1px solid $grey;
    }

    .pageBox {
        background: $offWhite;
        padding: 0.625rem 0 0.625rem 1.75rem;
        border-bottom: 1px solid $grey;
    }

    .title {
        text-transform: uppercase;
        font-weight: 900;
    }

    span {
        font-weight: 900;
        padding-right: 0.625rem;
    }

    .collapsed {
        padding: 0;
        border: none;
        max-height: 0;
        overflow: hidden;
    }

    .expanded {
        max-height: initial;
        overflow: initial;
    }
}