#cardWrapper {
  @include flexCenter(row);
  width: 95%;
  max-width: 1104px;
  gap: 20px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.card {
  @include flexCenter(column);
  justify-content: flex-start;
  width: 100%;
  height: 618px;
  padding: 26px 32px 36px;
  background: $darkBlue;
  border: 1px solid $darkBlue;
  border-radius: 4px;

  &:nth-of-type(even) {
    background: $white;
  }

  button {
    font-weight: 900;
    margin: 36px 0;
  }
}
