#cardWrapper {
  @include flexCenter(row);
  width: 95%;
  max-width: 1104px;
  gap: 20px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.card {
  @include flexCenter(column);
  justify-content: flex-start;
  width: 100%;
  height: 618px;
  padding: 26px 32px 36px;
  background: $darkBlue;
  border: 1px solid $darkBlue;
  border-radius: 4px;

  &:nth-of-type(even) {
    background: $white;
  }

  button {
    margin: 36px 0;
  }

  a, a:visited {
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: $white;
  }

  a:hover {
    text-decoration: underline;
  }
}

.card.news {
  text-align: center;
  line-height: 1.35;
  color: $white;

  div {
    margin-bottom: 1rem;
  }
}

.card.events {
  @include flexCenter(column);
  color: $darkBlue;
  font-weight: 700;
  gap: 1rem;
  
  .event {
    @include flexCenter(row);
    justify-content: flex-start;
    text-align: left;
    width: 100%;
  }

  .datebox {
    @include flexCenter(row);
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    color: $white;
    background: $darkBlue;
    margin-right: 1rem;
    padding: 0 10px;
    text-align: center;
  }
}

.card.report {
  ul {
    // background-image: url("../images/banner1.jpg");
    padding-left: 10px;
  }
  
  li {
    margin: 0;
    padding: 20px 0px 1px 0px;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
  }
  
  li.pdf {
    background-image: url("../images/pdf-icon.png");
  }

  li.xls {
    background-image: url("../images/xls-icon.png");
  }

  a {
    font-weight: 500;
    margin-left: 39px;
    margin-bottom: 21px;
  }
}