#carousel {
  @include flexCenter(column);
  height: 610px;
  position: relative;
  overflow: hidden;

  &.zero {
    background-image: url("../images/banner0.jpg");
    background-size: cover;
    background-position: center;
  }

  &.one {
    background-image: url("../images/banner1.jpg");
    background-size: cover;
    background-position: center;
  }

  &.two {
    background-image: url("../images/banner2.jpg");
    background-size: cover;
    background-position: center;
  }

  .blueBox {
    @include flexCenter(column);
    min-height: 200px;
    width: 95%;
    max-width: 950px;
    background: $darkBlue;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    text-align: center;
  }

  @media screen and (max-width: 1024px) {
    height: 352px;

    .blueBox {
      min-height: 180px;
    }

    h1 {
      font-size: 2rem;
    }
  }
}

#carouselControl {
  position: absolute;
  bottom: 10px;

  .blueSquare {
    width: 20px;
    height: 20px;
    margin: 3.2px;
    border: none;
    border-radius: 2px;
    background: $darkBlue;
    cursor: pointer;

    &:hover{
      background: $lightBlue;  
    }
  }

  .active {
    background: $lightBlue;
  }
}
