#featured {
    @include wrapperWidth;
    @include flexCenter(row);
    align-items: stretch;
    min-height: 180px;
    margin: 0 auto;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 768px) {
        @include flexCenter(column);
      }
}

.feature {
    flex-grow: 1;
    @include flexCenter(column);
    width: 100%;
    border-radius: 4px;
    padding: 1.625rem 1rem;
    cursor: pointer;
    
    &:nth-child(1) {
        background-image: url("../images/card-mountains.jpg");
    }

    &:nth-child(2) {
        background-image: url("../images/card-bridge.jpg");
    }

    &:nth-child(3) {
        background: $darkBlue;
    }

    h3 {
        font-size: 1.75rem;
        padding: 0;
        margin: 0;
    }

    &:hover {
        filter: brightness(0.9);
    }
}

#stockWrapper {
    @include flexCenter(row);
    margin-top: 1.5rem;
    color: $white;
    gap: 10px;

    #arrowWrapper {
        @include flexCenter(row);
        gap: 10px;
    }

    div {
        font-size: .875rem;
        line-height: 1.25rem;
    }

    div:nth-of-type(2) {
        text-align: center;
    }

    @media screen and (max-width: 1122px) {
        @include flexCenter(column);
        flex-direction: column-reverse;
        // align-items: flex-start;
      }
}

.arrowIcon {
    scale: 1.5;
}