#navbar {
  @include flexCenter(row);
  background: $darkBlue;
  height: 70px;
  position: relative;

  button {
    border: none;
    background: none;
    color: $white;
    padding: 0 1.25rem 0;
    font-weight: 400;
    font-size: 1em;
    position: relative;
    cursor: pointer;

    &:hover {
      color: $lightBlue;
    }

    &.active {
      color: $lightBlue;
    }

    &.active::after {
      content: " ";
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      margin: 0 auto;
      transform: rotate(45deg);
      left: 0;
      right: 0;
      top: 37px;
      background: $offWhite;
    }
  }

  .cell {
    min-width: 40px;
  }

  .cell.center {
    @include flexCenter(row);
    width: 100%;
    max-width: 1120px;
  }

  @media screen and (max-width: 1086px) {
    display: none;
  }
}

.searchIcon {
  color: $white;
  scale: 1.4;
  cursor: pointer;
}

.menuIcon {
  color: $white;
  scale: 1.8;
  text-align: right;
  cursor: pointer;
  
}

.navCell {
  @include flexCenter(row);
  width: 60px;

  @media screen and (min-width: 1087px) {
    z-index: -1;
  }
}