#navMapBackground {
    width: 100%;
    position: absolute;
    top: 70px;

    @include flexCenter(column);

    background: $offWhite;
    padding: 2rem 0 3rem;

    ul {
        list-style-type: none;
    }
}

.navMapWrapper {
    @include flexCenter(column);
    align-items: flex-start;
    width: 1104px;

    .arrow {
        scale: 1.5;
        position: relative;
        top: 4.5px;
        left: -8px;
        margin-right: -0.9rem;
    }
}

.navMap {
    @include flexCenter(row);
    align-items: stretch;
    column-gap: 20px;

    .divider {
        width: 1px;
        background: #BFBCB5;
    }

    li {
        color: $blackBlue;
        font-size: .875rem;
        line-height: 1rem;
        margin-bottom: 1rem;
        cursor: pointer;
    }

    li:hover {
        color: $lightBlue;
    }
}