#navbar {
  @include flexCenter(row);
  background: $darkBlue;
  height: 70px;

  button {
    border: none;
    background: none;
    color: $white;
    padding: 0 1.25rem 0;
    font-weight: 400;
    font-size: 1em;

    &:hover {
      color: $lightBlue;
    }
  }

  .cell {
    min-width: 40px;
  }

  .cell.center {
    @include flexCenter(row);
    width: 100%;
    max-width: 1120px;
  }

  @media screen and (max-width: 1086px) {
    display: none;
  }
}

.searchIcon {
  color: $white;
  scale: 1.4;
  cursor: pointer;
}

.menuIcon {
  color: $white;
  scale: 1.8;
  text-align: right;
  cursor: pointer;
  
}

.navCell {
  @include flexCenter(row);
  width: 60px;

  @media screen and (min-width: 1087px) {
    z-index: -1;
  }
}