#navMapBackground {
    width: 100%;
    position: absolute;
    top: 70px;

    @include flexCenter(column);

    background: $offWhite;
    padding: 2rem 0 3rem;

    ul {
        list-style-type: none;
    }
}

.navMapWrapper {
    @include wrapperWidth;
    @include flexCenter(column);
    align-items: flex-start;
    
    .arrow {
        scale: 1.5;
        position: relative;
        top: 4.5px;
        left: -8px;
        margin-right: -0.9rem;
    }
    
    :hover {
        color: $lightBlue;
    }
}

.navMap {

    @include flexCenter(row);
    width: 100%;
    justify-content: space-between;
    align-items: stretch;

    .stretcher {
        flex-grow: 1;
        width: 100%;
        @include flexCenter(row);
        justify-content: flex-start;
        align-items: stretch;
        text-align: left;
    }

    .divider {
        width: 1px;
        background: $grey;
        margin-right: 20px;
    }

    li {
        color: $blackBlue;
        font-size: .875rem;
        line-height: 1rem;
        margin-bottom: 1rem;
        cursor: pointer;
    }
}